@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Quicksand&family=Raleway&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

h1,
h2 {
  text-align: center;
}

/* QUIENES-SOMOS */
#quienes-somos {
  padding: 1rem 0;
  background-color: #f9f9f9;
}

/* MISION-VISION */

.mision-vision {
  display: flex;
  flex-direction: column-reverse;
  padding: 3rem 0;
}

/* EQUIPO */
.equipo {
  padding: 3rem 0;
  background-color: var(--dark);
}

.equipo__title {
  font-size: clamp(1.5rem, 10vw, 2.3rem);
  color: var(--accent);
}

.equipo__avatar {
  border-radius: 15%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  align-self: center;
}

.equipo__card {
  background-color: #6e7c7c;
  border-radius: 10px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  display: flex;
  box-shadow: -4px -4px 6px #ccc, 4px 4px 10px #000000;
  color: var(--white);
}

.equipo__text {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  margin-left: 1rem;
  width: 70%;
}

.equipo__name {
  font-weight: bold;
  font-size: 1.1em;
  border-bottom: 1px solid var(--white);
}

.profession {
  font-weight: bold;
}

.equipo__icons-container {
  display: flex;
  color: var(--white);
  justify-content: space-evenly;
  font-size: 1.25rem;
}

@media (min-width: 550px) {
  .col {
    display: flex;
    flex-direction: column;
  }

  .col + .col {
    margin-left: 3rem;
  }

  .mision-vision__img {
    justify-content: center;
  }

  .mision-vision {
    flex-direction: row;
  }
}

@media (min-width: 700px) {
  /* EQUIPO */
  .equipo__card {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0.2rem;
    width: 30%;
  }
  .equipo__avatar {
    height: 28%;
  }
  .equipo__avatar > img {
    overflow: hidden;
    /* width: 100px; */
    /* height: 100px; */
  }
  .equipo__text {
    min-height: 70%;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
