@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Quicksand&family=Raleway&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

h1,
h2 {
  text-align: center;
}

hr {
  width: 100%;
}

/* SERVICIO */

.servicio {
  margin: 3rem 0;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  display: block;
}
.servicio span {
  margin-top: -300px; /* Size of fixed header */
  padding-bottom: 300px;
  display: block;
  pointer-events: none;
}

.servicio__name {
  margin-bottom: 0em;
}

.servicio__img {
  flex: 2;
}

.servicio__text {
  flex: 3;
}

.info__label {
  font-weight: bold;
  margin-right: 0.5em;
}

.servicio__points {
  list-style-type: circle;
  list-style-position: outside;
}

.servicio__points li {
  margin-bottom: 0.4em;
}

.subservicio__points {
  list-style-type: initial;
  list-style-position: inside;
}

.subservicio__points li {
  margin-bottom: 0.1em;
}

@media (min-width: 550px) {
  .col {
    display: flex;
    flex-direction: column;
  }

  .col + .col {
    margin-left: 3rem;
  }

  .mision-vision__img {
    justify-content: center;
  }

  .mision-vision {
    flex-direction: row;
  }
}

@media (min-width: 700px) {
  /* EQUIPO */
  .equipo__card {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0.5rem;
    width: 30%;
  }
  .equipo__avatar {
    height: 28%;
  }
  .equipo__avatar > img {
    overflow: hidden;
    /* width: 100px; */
    /* height: 100px; */
  }
  .equipo__text {
    min-height: 70%;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
